:root {
  --primary-bg-color: #ffffff;
  --accent-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;

  --btn-color: #f5f4fa;

  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.menu-item .mark-page{
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style-type: none;
}
/* LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}
.footer-logo {
  color: var(--additional-color);
}
/* HEADER */
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
}
.menu-link {
  color: var(--secondary-color);
}
.contact-link {
  color: var(--primary-color);
}
/* MAIN PAGE */
.subtitle {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
}
/* Hero section */
.hero {
  background-color: var(--accent-bg-color);
}
.hero-title {
  color: var(--additional-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--additional-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.06em;
  /* text-align: center; */
  cursor: pointer;
}
/* Features section  */
.features-subtitle {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.fuatures-text {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}
/* Section team */
.team-sect {
  background-color: var(--secondary-bg-color);
}
.team-item {
  background-color: var(--additional-color);
}
.team-name {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-align: center;
}

/* PORTFOLIO PAGE */
.filters-btn {
  background-color: var(--btn-color);
  color: var(--secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  /* text-align: center; */
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}
.portfolio-subtitle {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.03em;
}
/* FOOTER */
.page-footer {
  background-color: var(--accent-bg-color);
}
.footer-list {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.map {
  color: var(--additional-color);
}
